body {
  margin: 0;
}
.navbar-container {
  display: flex;
  justify-content: space-around;
  padding: 10px;

  background: #7ee1e8;
}

.navbar-items {
  display: flex;
  justify-content: space-between;
  margin: 0px 10px;
  text-decoration: none;
}

.country-card-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

// .country-card-content {
//   display: flex;
// }

.navbar-items {
  margin: 10;
  padding: 20, 20, 20, 20;
  display: flex;
  justify-content: space-evenly;
  text-align: justify;
  font-family: Helvetica;
  font-weight: lighter;
  text-transform: uppercase;
  font-size: 25px;
  color: black;
}

.title {
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 50;
  margin: 20;
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;
}

.links-to-pages {
  position: absolute;
  text-align: center;
  width: 1700px;
  height: 269px;
  left: 0px;
  top: 594px;

  background: #ffe3c9;
}

.footer-container {
  flex: display;
  position: relative;
  top: 700px;
  text-align: center;
  height: 50px;

  background: #c4c4c4;
}

.countries-card-container {
  display: flex;
  position: relative;
  top: 200px;
  text-align: center;
  height: 269px;
  background: #ffe3c9;
}

.members-home {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-members-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-side {
  // display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px 20px;
}

.right-side {
  // display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px 20px;
}

.bottom-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 0;
  min-height: 0;
}

.form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.label {
  margin: 2px 0px;
}

.text-area {
  height: 100px;
  word-break: break-word;
}

.map {
  height: 300px;
  position: absolute;
}

.visited-countries {
  margin-top: 30px;
  margin-bottom: 10px;
  display: flex;
  min-width: 0;
  min-height: 0;
  overflow-x: auto;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.card {
  margin: 10px 10px;
  padding: 10px 10px;
  display: flex;
}

.countries-list {
  margin: 10px 2px;
}

.progress-bar {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
  margin: 0;
  padding: 5 5;
  box-sizing: border-box;
}

.countries-visisted {
  margin-right: 5px;
}

.progress {
  background-color: #d8d8d8;
  border-radius: 20px;
  position: relative;
  margin: 5px 0;
  height: 50px;
  width: 50vw;
  padding: 5 5;
}

.progress-done {
  background: linear-gradient(to left, #f2709c, #ff9472);
  box-shadow: 0 3px 3px -5px #f2709c, 0 2px 5px #f2709c;
  border-radius: 20px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 0;
  opacity: 0;
  transition: 1s ease 0.3s;
  padding: 5 5;
}

.card-container {
  width: 300px;
  overflow: hidden;
  box-shadow: 0px 0px 15px -5px;
}

.image-container img {
  overflow: hidden;
  height: 200px;
}

.card-content {
  margin: 1rem;
  margin-top: 0.5rem;
}

h3,
p {
  margin: 0;
  padding: 0;
}

.card-title {
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.btn button {
  padding: 0.5 rem;
  background-color: white;
  border: none;
}

.editdelete-container {
  display: flex;
  justify-content: space-evenly;
}

.to-delete {
  display: flex;
  justify-content: center;
}
