.title {
  position: absolute;
  width: 516px;
  height: 49px;
  left: 447px;
  top: 118px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;
}
